server:
  port: 8080

spring:
  application:
    name: payment-sim

  datasource:
    url: jdbc:postgresql://localhost:5432/paymentsim
    username: paymentsim
    password: paymentsim
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
