name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: paymentsim
          POSTGRES_USER: paymentsim
          POSTGRES_PASSWORD: paymentsim
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U paymentsim -d paymentsim"
          --health-interval 5s
          --health-timeout 3s
          --health-retries 10
      redis:
        image: redis:7
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build & Test
        run: mvn -q clean test

      - name: Package
        run: mvn -q clean package

      - name: Docker build
        run: docker build -t paymentsim:ci .
